body{
background-size: cover;

}
canvas{
    border-radius: 30px;
animation-name: emoji;
animation-duration: 4s;
animation-iteration-count: infinite;
}
@keyframes emoji{
    from{
        box-shadow: 1px 1px 38px coral;
    }
    to{
        box-shadow: 1px 1px 38px rgb(92, 105, 246);
    }
}